#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

#nav-section {

}

.content {
  overflow-y: scroll;

}

#profile {
  height: 100vh;
  background: #ffbd0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resume {
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-content: center;
}

#portfolio {
  height: 100vh;
  border: 5px solid black;
}

#contact {
  height: 100vh;
  border: 5px solid grey;
}


/* Bootstrap*/

.card-img-top {
  width: 50px;
  margin-left: 5px;
  margin-top: 5px;
}
