#root {
  width: 100vw;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.4em;
}

h1 {
  font-weight: 700;
}

#nav-section {
  position: fixed;
  z-index: 1;
  width: 100vw;
}
.content {
  overflow-y: scroll;
}

.content-section {
  padding-top: 100px;
}
/*Profile*/
#profile {
  height: 100vh;
  background: #ffbd0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#resume {
  background: #ededed;
}
#resume .card-columns{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

#resume h1 {
  text-align: center;
}
#resume .card {
  max-width: 400px;
  border: 1px solid grey;
}


/* Resume cards*/
h6 img {
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.small-p {
  font-size: 0.8em;
  margin-left: 50px;
}

hr {
  margin-top: 40px;
}

#experience ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#experience li::before {
  content: "◉";
  margin-right: 15px;
  color: #76E31B;
}
#experience .blank {
  list-style: none;
  margin-left: 6px;
  border-left: 1px solid #ededed;
}
#experience .blank::before {
  content: "";
}

.experience-content {
  padding-left: 50px;
  padding-top: 20px;
}

.skills {
  list-style: none;
  padding-top: 50px;
  padding-left: 0;
}

.skills li {
  margin-bottom:70px;
  background:#000;
  height:5px;
  border-radius:3px;
  border-left:1px solid #111;
  border-top:1px solid #111;
  border-right:1px solid #333;
  border-bottom:1px solid #333;
}

.skills span {
  height:4px;
  margin: 0;
  background:#76E31B;
  position:absolute;
  box-shadow:0px 0px 10px 1px rgba(0,198,255,0.4);
}

.skills em {
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  position:relative;
  top:-30px;
}

.skills .javascript {
  width: 70%;
  animation: javascript 4s ease-in;
}

.skills .html {
  width: 70%;
  animation: html 4s ease-in;
}

.skills .css {
  width: 60%;
  animation: css 4s ease-in;
}

.skills .design {
  width: 50%;
  animation: design 4s ease-in;
}

@keyframes javascript {
  0%  { width:0px;}
  100%{ width:70%;}
}

@keyframes html {
  0%  { width:0px;}
  100%{ width:70%;}
}

@keyframes css {
  0%  { width:0px;}
  100%{ width:60%;}
}

@keyframes design {
  0%  { width:0px;}
  100%{ width:50%;}
}

/* Portfolio*/

#portfolio {
  background-color: #eeeeee;
}

#portfolio h1 {
  text-align: center;
  font-weight: 700;
}

#example1 {
  display: flex;
}

#example2 {
  display: flex;
}

.example {
}

.description {
  padding: 50px;
}
.image {
  width: 100%;
}
.image img {
  width: 100%;
}
/* Bootstrap*/

.card-img-top {
  width: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.card {
  border: none;
}

.card-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

/*contact*/

.contact {
  padding-top: 10px;
}
.contact-links {
  list-style: none;
  /*background-color: #322f30;*/
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.icon {

}

.fa-github {
  padding: 10px 14px;
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition: .5s;
   /*background-color: #322f30;*/
   color: black;
}
.fa-github:hover {
    background-color: red;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /*background-color: #322f30;*/
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.contact .email {
  color: inherit;
  text-decoration: none;
  padding-left: 14px;
  padding-bottom: 10px;
  padding-right: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}
.contact .email:hover {
  background-color: #BADA50;
}
